<!DOCTYPE html>
<html>
    <head>

        <link rel="icon" href="/img/we.png">
        <style>
            body {
                text-align: center;
                background-color: lightgrey;

            }
        </style>
    </head>
    <body>
        {{>header}}
        <h4>{{errorMessage}} </h4>
        {{>footer}}
    </body>
</html>